Package: naville.qqmusiclrcexporter
Name: QQMusicLRCExporter
Depends: mobilesubstrate
Version: 0.1.0
Architecture: iphoneos-arm
Description: QQMusicLRCRuntimeExport
Maintainer: Naville
Author: Naville
Section: Tweaks
